body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%), url('images/food6.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

header .logo {
    display: flex;
    align-items: center;
}

header .logo img {
    height: 100px;
    filter: opacity(0.7);
    margin-right: 10px;
}

header .logo h1 {
    margin: 0;
    font-size: 2em;
    color: #E0B0B0;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-left: 10px;
    border: 1px solid white;
    border-radius: 5px;
}

.dashboard-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-grow: 1;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.orders-section, .menu-section {
    width: 45%;
    min-width: 300px;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    margin: 20px 10px;
}

orders-section h2, .menu-section h2 {
    text-align: center;
    color: #E0B0B0;
    margin-bottom: 20px;
}

button {
    background-color: #e53935;
    color: white;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

footer {
    background-color: rgba(0, 0, 0, 0.8);
    text-align: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

footer p {
    margin: 0;
}
.menu-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
}

.menu-item {
    border: 1px solid #555;
    padding: 10px;
    border-radius: 5px;
}

.menu-item h3 {
    margin-bottom: 5px;
}

.menu-item p {
    margin: 0;
}