body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%), url('images/food2.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
}

header .logo img {
    height: 100px;
    filter: opacity(0.7);
}

header a {
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 5px;
}

main.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
}

.form-section {
    width: 80%;
    max-width: 400px;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 10px;
    margin: 50px auto;
}

.form-section h2 {
    margin-bottom: 20px;
    text-align: center;
    color: #E0B0B0;
}

#business-login-form label {
    display: block;
    margin-top: 10px;
}

#business-login-form input {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 5px;
    background-color: grey;
    color: white;
}

#business-login-form button[type="submit"] {
    background-color: #e53935;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}