body {
    font-family: sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: linear-gradient(to right, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%), url('images/food7.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: transparent;
    color: white;
}

header .logo img {
    height: 150px;
    filter: opacity(0.7);
}

#register-button {
    background-color: black;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
}

header nav ul li {
    margin: 0;
}

header nav ul li a {
    text-decoration: none;
    color: white;
}

main.container {
    display: flex;
    flex-grow: 1;
}

.form-section {
    flex: 1;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
}

.form-section h2 {
    margin-bottom: 30px;
    color: #E0B0B0;
}

/* Updated Input Styles */
.input-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    width: 300px; /* Match the width of the original inputs */
}

.input-row li {
    width: 48%; /* Adjust to fit two inputs per row */
    list-style: none; /* Remove list style */
    margin-right: 50px;
}

.input-row input {
    width: 100%; /* Make inputs fill their list item */
    padding: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #333;
    color: white;
}

/* Centered Button Styles */
.button-row {
    text-align: center;
    margin-top: 20px;
    width: 300px; /* Match the width of the original inputs */
}

.form-section button {
    background-color: #e53935;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%; /* Make button fill its row */
}

.form-section p {
    margin-top: 10px;
}

.form-section p a {
    color: #007bff;
}

.social-icons {
    margin-top: 20px;
}

.google-icon {
    font-size: 24px;
    color: white;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: transparent;
    color: white;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

footer p {
    margin: 0;
}
.input-row li:last-child {
    margin-right: 0;
}